<script>
    export let selectedLetter=false;

    const handleClick = (index) => {
        selectedLetter = selectedLetter[index]
        console.log("handling "+index)
        console.log("sel "+selectedLetter);
    }

    const letters = {
        "0-9" : /^\d+/,
        "A": /^A/,
        "B": /^B/,
        "C": /^C/,
        "D": /^D/
    }
</script>


<div class="level-left">
    {#each Object.keys(letters) as l}
        <div class="level-item">

            <a href="#" class:has-text-weight-bold="{selectedLetter == l}" on:click|preventDefault={() => handleClick(l)}>{l}</a>
        </div>    
    {/each}        
</div>
