<script>
    import { onMount } from 'svelte';
    import {cacheManager} from "../utils.js"
    import {imageDB} from "../utils.js"
    import {CONSTS} from "../utils.js"

    export let game=false;
    let gameImage= "https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif";
    
    let steamAppId = false

    onMount(async () => {

        if(game.store == CONSTS.STORE_STEAM) {
            const tmp = game.steamUrl.split("/")
            steamAppId = tmp[ tmp.length -1 ]
            gameImage = imageDB.getSteamAppImage(steamAppId)
        } else {
            gameImage = imageDB.PLACEHOLDER
        }

    });
</script>

<div class="column is-one-quarter">
    <div class="card">
        <div class="card-image">
            <figure class="image is-16-by-9">
                <img class="lazy" src="{gameImage}" title="{game.store} - {game.title}" alt="{game.store} - {game.title}" loading="lazy">
            </figure>
        </div>
        </div>

        <div class="card-content">
            <h3 class="title is-5">
                { game.title }
            </h3>
        </div>
        {#if game.steamUrl != ""}            
            <footer class="card-footer">
                <a href="{game.steamUrl}" target="_blank" class="card-footer-item is-left"> 
                    <span class="icon"><i class="fab fa-steam"></i></span>
                    Steam                    
                </a>
                <a href="#" target="_blank" class="card-footer-item is-left">CTA 2</a>
                <a href="#" target="_blank" class="card-footer-item is-left">CTA 3</a>
            </footer>
        {/if}
</div>