<script>

</script>

<nav class="navbar">
    <div class="container">
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>                                     
        </div>
        <div class="navbar-end">
          ---
        </div>
      </div>
    </div>
  </nav>



<style>
  
  
</style>