<script>
    import { onMount } from 'svelte';
    import { get } from 'svelte/store';
    import { gfnData } from "../stores.js"

    
    import GameCard from "../components/GameCard.svelte"
    import Alphabet from "../components/Alphabet.svelte"

    let selectedLetter ;


    let searchGenres = [];
    let searchTitle = "";
    let startsWith = false;

    
    

    let isLoading = false;
    
    //const url = "https://static.nvidiagrid.net/supported-public-game-list/locales/gfnpc-en-US.json?JSON";
    const url = "https://mrosati.pythonanywhere.com/games/";

    const handleSearch = async () => {
        if(searchTitle.length>1 && !isLoading)
        {
            fullData = await fetchData();
            console.log("search", fullData)
        }
    }

    const handleStartsWith = async () => {
        if(startsWith)
        {
            fullData = await fetchData();
            console.log("startsWith", fullData)
        }
    }

    const fetchData = async () => {
        let fullURL = new URL(url);
        let params = fullURL.searchParams;
        
        if(searchTitle.length) {
            params.append("searchTitle", searchTitle)
        }

        if(startsWith) {
            params.append("startsWith", startsWith)
        }

        console.log("FULLURL: "+fullURL.toString())

        isLoading = true;

        let fullData = await fetch(fullURL.toString())
                .then(response => response.json())
                .catch(err => console.log(err))

        isLoading = false;
        return fullData
    }

    let fullData = get(gfnData);    

    
// https://cdn.akamai.steamstatic.com/steam/apps/1363840/header.jpg?t=1616181628
// https://store.steampowered.com/api/appdetails?appids=1363840

// https://developer.valvesoftware.com/wiki/Steam_Web_API#GetNewsForApp_.28v0001.29

    onMount(async () => {

        
        if ( fullData.length == 0)
        {            
            fullData = await fetchData();
            // console.log(fullData)

            
            gfnData.set(fullData)
        }
		
	});
</script>

<section id="page">
    <div class="container">
        <div class="columns ">
            <div class="column">   
                <nav class="level">
                    
                    <Alphabet bind:selectedLetter />
                    <div class="level-right">
                        <div class="level-item has-text-weight-bold">SEARCH</div>
                        <div class="level-item">
                            <input class="input" type="text" placeholder="Search!" bind:value={searchTitle} on:input={()=> handleSearch()}>
                        </div>
                    </div>
                </nav>                         
            </div>
        </div>
        <div class="columns is-multiline">                            
            {#if isLoading }                
                <p class="loadingContainer has-text-weight-bold">LOADING!!!</p>                
            {:else}
                {#each fullData as game}
                    <GameCard {game} />            
                {/each}
            {/if}
                            
        </div>
    </div>
</section>

<style>
    p.loadingContainer {
        text-align: center;
        width:100%;
    }
</style>