<script>
	import router from 'page.js'
	
	import Header from './components/common/Header.svelte'
    import Footer from './components/common/Footer.svelte'
	import Home from './pages/Home.svelte'


	let page;
	
    router('/', () => page = Home)    
	router.start()
</script>

<main id="pagecontainer">
	<Header />			
	<div class="box">
		<svelte:component this={page} />    
	</div>
	<Footer />
</main>

<style>
	
	
</style>